<mat-toolbar color="accent">
  <mat-toolbar-row>
    <div class="toolbar no-select" routerLink="">
      <mat-icon style="margin-right: 7px">home</mat-icon>
      <span>Online Shop</span>
    </div>
    <span class="example-spacer"></span>
    <div class="toolbar no-select">
      <button class="toolbar button" color="primary" mat-flat-button routerLink="">Главная</button>
      <button class="toolbar button" mat-flat-button color="primary" routerLink="products">Товары</button>
      <button class="toolbar button" mat-flat-button color="primary" routerLink="basket">Корзина</button>
      <button class="toolbar button" mat-flat-button color="primary" routerLink="links">Ссылки полездные</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
